<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>Prism.marble</key>
		<string>Prism marble App Store HealthKit 2026-06-18-2015</string>
		<key>Prism.marble.MarbleWidgets</key>
		<string>Prism marble MarbleWidgets App Store 2026-06-22 build 23</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>L49MKXGVM4</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
